html {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #222831;
  /* background-image: url("./images/white-diamond-dark.png"); */
  height: 100%;
  position: relative;
  /* cursor: none; */
  color: #ececec;
}

h2 {
  color: #f2a365;
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #222831;
  opacity: 0.8;
}

a:hover {
  color: #222831;
  transform: scale(1.2);
  opacity: 1;
}

/* Cursor Activities */
/* .cursor-circle {
  width: 4rem;
  height: 4rem;
  border: 2px solid #f2a365;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.15, 0.7, 0.44, 0.96) 0.01s;
}*/

/* .cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid #f2a365;
  background-color: #f2a365;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  pointer-events: none;
  transition: all 0.001s cubic-bezier(0.15, 0.7, 0.44, 0.96);
} */

.hide {
  opacity: 0;
  pointer-events: none;
}

.expand {
  width: 5rem;
  height: 5rem;
}

/* landing page */
#landing-page {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
}

.landing-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mid-svg {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.58, 1.84, 0.62, 0.69);
}
.landing-title {
  font-size: 5rem;
  font-weight: 900;
  font-family: "Merriweather", serif;
  color: #f2a365;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transition-delay: 0.25s;
}
.nav-item {
  padding: 1rem;
  font-size: 1.1rem;
  z-index: 2;
}
.nav-link {
  cursor: pointer;
  transition: all 0.1s ease-out 0.05s;
}
.navbar-brand {
  padding: 1rem;
  font-size: 1.5rem;
  z-index: 2;
  cursor: none;
}
#about-link {
  color: #f2a365;
  padding: 1rem;
}
.nav-link:hover {
  border-bottom: white solid 2px;
  transform: scale(1.2);
}

/* description effects */
.landing-text {
  position: absolute;
  left: 22%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  z-index: 2;
}

.description {
  color: #ececec;
  font-size: 1.2rem;
  line-height: 1.4;
  display: inline;
  opacity: 0.75;
  transition: all 0.5s cubic-bezier(0.15, 0.7, 0.44, 0.96) 0.5s;
}

.anime-desc {
  position: absolute;
  left: 21%;
  top: 0;
  transition: all 0.5s linear;
}

.indicator {
  float: left;
  color: #ececec;
  opacity: 0.75;
  padding: 1rem 2rem;
  z-index: 0;
  transition: all 0.5s cubic-bezier(0.15, 0.7, 0.44, 0.96) 0.75s;
}

/* side footer */
.flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 7vw;
  position: absolute;
  right: 0;
  top: 20%;
}
.nav-icon {
  padding: 1rem;
}

/* icon animation */

@keyframes fadeOI {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInOut {
  animation: fadeOI 0.5s ease-in-out;
}

@keyframes fadeIO {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOutIn {
  animation: fadeIO 0.5s ease-in-out;
}

/* nav */
.burger {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2rem;
  z-index: 3;
  cursor: pointer;
  transition: all 0.4s ease-out;
  transform: translateY(300%);
  transition-property: transform;
}

.line1,
.line2 {
  background: #f2a365;
  margin: 0.4rem;
  width: 2.5rem;
  height: 0.25rem;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ececec;
  clip-path: circle(50px at 110% 110%);
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #222831;
}

.current-menu {
  width: 40%;
}
.links-menu h2 {
  padding: 1rem;
  color: #222831;
  font-family: "Montserrat", sans-serif;
}

.current-menu h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}
.current-menu h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}

.social-menu i {
  margin: 1rem;
}

/* about  */
#about {
  width: 100%;
  background-image: linear-gradient(to bottom right, #222831 50%, #ececec 50%);
  color: #ececec;
}

.text-block {
  padding: 8rem;
  line-height: 2;
  width: 50%;
}
.text-block h2 {
  color: #f2a365;
  margin: 1rem 0;
}
.text-block p {
  margin: 2rem 0;
}

.profile-img {
  height: 500px;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#education {
  width: 100%;
  background-color: #ececec;
  color: #222831;
}

#hobbies {
  padding: 5rem;
  width: 100%;
  background-color: #ececec;
  color: #222831;
}

#hobbies .container-fluid {
  padding: 5rem;
}

.container-fluid .col-4 {
  height: 15rem;
}

.hobby-text {
  background-color: #30475e;
  opacity: 0.9;
  color: #ececec;
  line-height: 2;
}

.hobby-text h5 {
  font: 2rem;
  padding: 0.5rem;
  margin-top: 0.7rem;
}

.hobby-text p {
  font: 1.5rem;
  padding: 0.5rem;
}

.text-muted {
  padding: 0.7rem 0 0;
}

#quote {
  text-align: center;
  background-color: #ececec;
  color: #222831;
  padding: 5rem;
}
#quote h5 {
  margin-top: 3rem;
  font-size: 2rem;
  opacity: 0.9;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

#contact {
  color: #222831;
  background-image: linear-gradient(to top left, #222831 50%, #ececec 50%);
}

#contact h5 {
  padding: 2rem 0 0;
}

#contact .col-6 {
  padding: 8rem 8rem 6rem;
}

#contact button {
  margin-top: 2rem;
}

/* .contact-box {
  position: relative;
  left: 5rem;
} */

#subscribe {
  padding: 5rem 5rem 10rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}

footer {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 7.5rem;
}
